/*
**	Background color for the page s body
*/
body {
	background-color: #C6DEC8;
}

/*
**	Text shadowing for a readable text
*/
.readable-txt {
	text-shadow: 0px 0px 0px #000000;
}

/*
**	Background grid with a slightly birghter grey behind the login form
*/
.login-grid {
	width: 48%;
	min-width: 500px;
	height: 548.9px;
	min-height: 500px;
	background-color: #F2E9DC;
	margin: 32px auto 32px auto;
	overflow: hidden ;
}

/*
** background color for the login headers
*/
.header-login {
	background: #82B888;
	width: 100%;
	height: 27%;
	margin-top: 6%;
	margin-bottom: 6%;
	color : #fff;
	text-align: center;
	display: inline-block;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 78px;
}

/*
**	Centering and setting the width for the whole form 
*/
div.form-div {
	min-width: 253.44px;
	width: 40%;
	margin: 0px auto 70px auto;
}

/*
** Input and passwords div in login layout
*/
.form-group, .margin-bottom {
	margin-bottom: 60px !important;
}

/*
**	css for the error message informing that username or pass is incorrect
*/
#error-msg {
	color: #FE5D26; 
	margin-top : -48px;
	text-align: left; 
	font-size: 10px;
	margin-bottom: 18px;
}

/*
** error message for the username - recovering page
*/
.error-msg-20px-mrg {
	margin-bottom: 30.9px !important;
}

/*
** Reseting the password - last step - congrats message
*/
.congrt-msg {
	font-size: 20px;
	color : #82B888;
	text-align: center;
	margin-top: -30px;
	margin-bottom: 30px;
}

/*
**	buttons ok n annuller positionning 
*/
div.form-group-btns {
	margin-bottom: 18px;
	text-align: center;
}
.btn {
	width: 121px;
	height: 32px;
	background-color: #82B888;
	font-size: 10px;
}

/*
**	account s options 
*/
div.account-opt {
	width: 302x;
	margin-left: auto;
	margin-right: auto;
	border-top: 2px solid #82B888;
	padding-top: 12.24px;
	padding-left:18px;
	padding-right:18px;
	text-align: center;
	font-size:10px;
}

a#forgoten {
	color: #82B888;
	margin-right: 16px;
}

a#register {
	color: #82B888;
}

/*
** header for the recover ur acount s configuration
*/
.font-60-centered {
	text-decoration: none;
	margin-top: 4%;
	margin-bottom: 4%;
	font-size: 40px;
	line-height: 50px;
}

/*
** Make placeholders visible
*/
 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #82B888 ;
  opacity: 0.8; /* Firefox */
}

/*
**	Pop-ups s css
*/
.pop-up {
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  visibility: visible;
  opacity: 1;
}

.inside-popup {
  margin: 70px auto;
  padding: 20px;
  background:  #F2E9DC;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.pop-up h3 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.pop-up label {
	text-align: left !important;
	width: 45%;
}

.pop-up .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }

  .popup{
    width: 70%;
  }
}

/*
**	Table css
*/

#top-bottom-gradient-color {
	background-image: linear-gradient(to bottom left, #C6DEC8 30% , #b5e2fa );
}

#div-table {
	width: 80%;
	min-width: 500px;
	margin: 1.5em auto ;
	background-color: #b5e2fa; 
}

#div-table td {
	width: 14%;
}

#home-thead th{
	background-color: #0c1b33 ;
	color: #F2E9DC;
	text-align: left;
}

#home-tbody tr:hover {
	background-color: black;
}

/*
**	Loging out css
*/
#log-out-div {
	text-align: end;
	padding-top: -20; 
}

#log-out {
	font-size: 2em;
}

.margin-top-bot {
	margin-top: 50px;
	margin-bottom: 30px;
}