/*
**	Background color for the page s body
*/
body {
	background-color: #C6DEC8;
}

/*
**	Background grid with a slightly birghter grey behind the login form
*/
.login-grid {
	width: 48%;
	min-width: 500px;
	height: 548.9px;
	min-height: 500px;
	background-color: #F2E9DC;
	margin: 32px auto 32px auto;
	overflow: hidden ;
}

/*
** background color for the login headers
*/
.header-login {
	background: #82B888;
	width: 100%;
	height: 27%;
	margin-top: 6%;
	margin-bottom: 6%;
	color : #fff;
	text-align: center;
	display: inline-block;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 78px;
}

/*
**	Centering and setting the width for the whole form 
*/
div.form-div {
	min-width: 253.44px;
	width: 40%;
	margin: 0px auto 70px auto;
}

/*
** Input and passwords div in login layout
*/
.form-group, .margin-bottom {
	margin-bottom: 60px !important;
}

/*
**	css for the error message informing that username or pass is incorrect
*/
#error-msg {
	color: #FE5D26; 
	margin-top : -48px;
	text-align: left; 
	font-size: 10px;
	margin-bottom: 18px;
}

/*
** error message for the username - recovering page
*/
.error-msg-20px-mrg {
	margin-bottom: 30.9px !important;
}

/*
** Reseting the password - last step - congrats message
*/
.congrt-msg {
	font-size: 22px;
	color : #82B888;
	text-align: right;
}

/*
**	buttons ok n annuller positionning 
*/
div.form-group-btns {
	margin-bottom: 18px;
	text-align: center;
}
.btn {
	width: 121px;
	height: 32px;
	background-color: #82B888;
	font-size: 10px;
}

/*
**	account s options 
*/
div.account-opt {
	width: 302x;
	margin-left: auto;
	margin-right: auto;
	border-top: 2px solid #82B888;
	padding-top: 12.24px;
	padding-left:18px;
	padding-right:18px;
	text-align: center;
	font-size:10px;
}

a#forgoten {
	color: #82B888;
	margin-right: 16px;
}

a#register {
	color: #82B888;
}

/*
**i header for the recover ur acount s configuration
*/
.font-60-centered {
	text-decoration: none;
	margin-top: 4%;
	margin-bottom: 4%;
	font-size: 40px;
	line-height: 50px;
}

